.calculator {
  &__block-number {
    border-radius: 20px;
    padding: 10px 20px;
    width: 135px;
    height: 35px;

    box-shadow: 3px 3px 0 0 $color2;
    background: $color1;
    outline: none;
    border: none;

    font-weight: 400;
    font-size: 12px;
    color: $color4;
    &:hover {
      background: $color7;
      transition: 0.5s ease-out;
    }
  }
  &__btn-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    gap: 10px;
    height: 60px;
  }
  &__btn {
    border-radius: 20px;
    padding: 5px 10px;
    width: 27px;
    height: 25px;

    box-shadow: 3px 3px 0 0 $color2;
    background: $color3;
    border: none;

    font-weight: 400;
    font-size: 12px;
    color: $color5;
    cursor: pointer;
  }
  &__result-btn {
    border-radius: 20px;
    padding: 5px 10px;
    width: 27px;
    height: 25px;

    box-shadow: 3px 3px 0 0 $color2;
    background: $color3;
    border: none;

    font-weight: 400;
    font-size: 12px;
    color: $color5;
    cursor: pointer;
    &:hover {
      background: $color1;
      color: $color3;
      transition: 0.5s ease-out;
    }
    &:active {
      background: $color6;
      color: $color3;
    }
    &:focus {
      background: #989898;
      color: $color3;
    }
  }
  &__result {
    border-radius: 20px;
    padding: 10px 20px;
    width: 118px;
    height: 35px;
    background: $color1;

    font-weight: 400;
    font-size: 12px;
    color: $color4;
    &:hover {
      background: $color7;
      transition: 0.5s ease-out;
    }
    &:active {
      transition: 0.5s ease-out;
    }
  }

  &__subblock {
    display: flex;
    gap: 38px;
    align-items: center;
    justify-content: center;
    padding: 36px 0 36px;
  }
  &__time-block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 33px;
    padding: 36px 0 0 0;
  }
  &__time-subblock {
    padding-top: 36px;
  }
  &__title {
    font-weight: 400;
    font-size: 16px;
    color: $color3;
    text-align: center;
  }
  &__subtitle {
    font-weight: 400;
    font-size: 16px;
    color: $color3;

    text-align: center;
  }
  &__block {
    padding: 36px 0 36px;
  }
  &__hr {
    width: 536px;
  }
  &__btn--active {
    background-color: $color1;
    color: $color3;
    transition: 0.5s ease-out;
  }
}