.google-dino {
  &__block {
    position: relative;
    width: 720px;
    height: 241px;
    margin: 0 auto;
  }
  &__title {
    font-weight: 400;
    font-size: 16px;
    color: $color3;
    text-align: center;
    margin: 36px 0 36px;
  }
  &__dino {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 72px;
    left: 20px;
  }
  &__cactus {
    width: 50px;
    position: absolute;
    right: 0;
    bottom: 72px;
  }
  &__ground {
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-bottom: 36px;
  }
  &__hr {
    width: 536px;
  }
}
