.header {
  padding: 20px 0 20px;
  position: relative;

  &__logos {
    display: flex;
    align-items: center;
  }

  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__list {
    display: flex;
    margin-right: auto;
    
  }
  &__wrapper {
    display: flex;
    align-items: center;
    gap: 80px;
  }
  &__items {
    padding-right: 50px;
    color: inherit;
  }
<<<<<<< HEAD
  
  &__vector{
    transition: transform 0.3s ease;
=======
  &__navigation::after {
    content: url(../images/header/moon.svg);
    padding-left: 8px;
  }
  &__magic {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 12px;
    color: #000;
>>>>>>> f832a532447464403a725134689fc00b52edcd7d
  }

  &__menu {
    display: flex;
    justify-content: space-between;
  }
  &__theme {
    display: flex;
    align-items: center;
  }
  &__navigation {
    color: inherit;
    margin-left: 8px;
    background-color: transparent;
    border: none;
  }
  &__subitems {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    
    width: 160px;
    height: 35px;
    display: flex;
    text-align: center; 
  color: #000;
  background: #fff;
  }
  &__subitems3 {
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-radius: 0 0 20px 20px;
    width: 160px;
    height: 35px;
    background: #fff;
    color: #000;
  }
  &__submenu {
    display: none;
    position: absolute;
    z-index: 1000;
    top: 65px;
  }
  &__submenu.show {
    display: block;
  }
  
  &__subitems:hover, &__subitems3:hover {
    background: #f1f1f1;
    cursor: pointer;
  }
  &__subitems, &__subitems3 {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
}

.rotated {
  transform: rotate(180deg);
}

.switch {
  position: relative;
  display: inline-block;
  border-radius: 11px;
  width: 40px;
  height: 20px;
  margin-right: 50px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #7a7a7a;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 100%;
}

.slider:before {
  position: absolute;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

input:checked + .slider:before {
  content: '';
  background: url('../images/header/moon.svg') no-repeat center center;
  background-size: contain;
  background-color: #000;

}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  content: '';
  display: block;
  background: url('../images/header/sun.svg') no-repeat center center;
  background-size: contain;
  height: 20px;
  width: 20px;
  background-color: white;
  border: 0.5px solid #000;
}
.dark-theme {
  background-color: #6f6f6f;
  color: white;
}
body .dark-theme{
  color: #fff;
}

.dark-theme .logo path{
  fill: white; 
}
