.randnum {
    &__title {
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        color: #000;
        margin: 36px 0;
    }
    &__input{
        font-weight: 400;
        font-size: 12px;
        color: #7e7e7e;
        border: none;
        box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        padding: 10px 45px 10px 10px;
        width: 150px;
        height: 35px;
        background: #d7d7d7;
        outline: none;
        position: absolute;
    }
    &__btn{
        padding: 0;
        padding-top: 5px;
        border: none;
        border-radius: 0 20px 20px 0;
        background-color: #000;
        width: 35px;
        height: 35px;
        position: relative;
        top: 0;
        left: 116px;
    }
    &__input-form{
        display: flex;
        align-items: center;
    }
    &__block{
        display: flex;
        justify-content: space-between;
        margin-bottom: 36px;
    }
    &__result{
        font-weight: 400;
        font-size: 12px;
        text-align: right;
    }
}