.year {
  &__main-title {
    font-family: var(--Montserrat);
    font-weight: 400;
    font-size: 24px;
    color: inherit;
    text-align: center;
    margin: 36px 0;
  }

  &__hr {
    width: 536px;
    background: #7e7e7e;
  }

  &__game-name {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: inherit;
    text-align: center;
    margin: 36px 0;
  }

  &__result-p {
    opacity: 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    text-align: right;
    width: 232px;
    // color: #039900;
  }

  &__input {
    width: 198px;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
    border-radius: 20px 0 0 20px;
    box-sizing: border-box;
    padding: 12px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    color: #7e7e7e;
    background-color: #d7d7d7;
    border: none;
    margin-bottom: 3px;
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 149px;
    margin-bottom: 37px;
   
  }

  &__input-wrapper {
    display: flex;
    align-items: center;

  }
}
