@import '~node_modules/modern-normalize/modern-normalize.css';
input{
    outline: none;
    &:focus {
        outline: none ;
        box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
        // border: 1px solid #ccc         ;
      }
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
      }
}