@import '~node_modules/modern-normalize/modern-normalize.css';
input {
  outline: none;
  &:focus {
    outline: none;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
    // border: 1px solid #ccc         ;
  }
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  .search-btn{
    border-radius: 0 20px 20px 0;
    background-color: #000;
    padding: 10px;
    cursor: pointer;
    &:hover{
      background-color: #7e7e7e;
      transition: all .5s;
    }
  }
}
