<section class="calculator">
  <div class="container">
    <h3 class="caclculator__title">Калькулятор</h3>
    <form class="calculator__form">
      <input
        type="number"
        class="calculator__form-number"
        placeholder="Введіть число"
      />
      <div class="div calculator__form-btn-block">
        <button class="calculator__form-btn">+</button
        ><button class="calculator__form-btn">*</button
        ><button class="calculator__form-btn">-</button
        ><button class="calculator__form-btn">/</button>
      </div>
      <input
        type="number"
        class="calculator__form-number"
        placeholder="Введіть число"
      />
      <button class="calculator__form-btn">=</button>
      <input
        type="number"
        class="calculator__form-result"
        placeholder="Результат"
      />
    </form>
    <hr />
  </div>
</section>
