<section class="calculator">
  <div class="container">
    <h3 class="caclculator__title">Калькулятор</h3>
    <form class="calculator__form">
      <input
        type="number"
        class="calculator__form-number"
        placeholder="Введіть число"
      />
      <div class="div calculator__form-btn-block">
        <button class="calculator__form-btn">+</button
        ><button class="calculator__form-btn">*</button
        ><button class="calculator__form-btn">-</button
        ><button class="calculator__form-btn">/</button>
      </div>
      <input
        type="number"
        class="calculator__form-number"
        placeholder="Введіть число"
      />
      <button class="calculator__form-btn">=</button>
      <input
        type="number"
        class="calculator__form-result"
        placeholder="Результат"
      />
    </form>
    <hr />
    <h3 class="calculator__title">Калькулятор часу</h3>
    <form class="calculator__time-form">
      <input
        type="number"
        class="calculator__time-input"
        placeholder="Введіть число"
      />
      <btn class="calculator__time-search"
        ><svg
          width="35"
          height="35"
          viewBox="0 0 35 35"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M0 0H17.5C27.165 0 35 7.83502 35 17.5C35 27.165 27.165 35 17.5 35H0V0Z"
            fill="black"
          />
          <circle
            cx="16.5217"
            cy="16.5217"
            r="5.52174"
            stroke="white"
            stroke-width="2"
          />
          <path
            d="M24.2929 25.7071C24.6834 26.0976 25.3166 26.0976 25.7071 25.7071C26.0976 25.3166 26.0976 24.6834 25.7071 24.2929L24.2929 25.7071ZM21.468 20.0538L20.7609 19.3467L19.3467 20.7609L20.0538 21.468L21.468 20.0538ZM25.7071 24.2929L21.468 20.0538L20.0538 21.468L24.2929 25.7071L25.7071 24.2929Z"
            fill="white"
          /></svg
      ></btn>
      <p>-----------</p>
      <p class="calculator__result">3 дн. 15:45:01</p>
    </form>
  </div>
</section>
