<section class="year">
    <h1 class="year__main-title">Популярні інетрактивні ігри</h1>
    <hr class="year__hr">
    <h2 class="year__game-name">Перевір в який рік ти народився</h2>
  <div class="year__wrapper"> 
<div class="year__input-wrapper">
    <input type="number" class="year__input" placeholder="Введіть рік народження">
    <button class="year__input-btn"><img src="./images/search.svg" alt="search-button"></button>
</div>
    <p class="year__result-p">Ви народилися у високосний рік!</p></div>
</section>