<section class="calculator numerical" >
  <div class="container">
    <div class="calculator__block">
      <h2 class="calculator__title">Калькулятор</h2>
      <div class="calculator__subblock">
        <input
          type="number"
          class="calculator__block-number"
          placeholder="Введіть число"
          id="inputNum1"
        />
        <div class="calculator__btn-block">
          <button data-operation="add" class="calculator__btn">+</button
          ><button data-operation="multiply" class="calculator__btn">*</button
          ><button data-operation="subtract" class="calculator__btn">-</button
          ><button data-operation="divide" class="calculator__btn">/</button>
        </div>
        <input
          type="number"
          class="calculator__block-number"
          placeholder="Введіть число"
          id="inputNum2"
        />
        <button class="calculator__result-btn">=</button>
        <p class="calculator__result">Результат</p>
      </div>
      <hr class="calculator__hr" />
    </div>
  </div>
</section>
