<div class="container">
  <section src="footer">
    <div class="footer__logo">
      <img src="./images/header/logo.svg" class="footer__img" />
    </div>
    <div class="footer__list">
      <ul class="footer__items">
        <li class="footer__item">
          <a href="tel:+38 (123) 456 78 90" class="footer__link"
            >Тел: +38 (123) 456 78 90</a
          >
        </li>
        <li class="footer__item">
          <a href="email: codingmagic@gmail.com" class="footer__link"
            >E-Mail: codingmagic@gmail.com</a
          >
        </li>
        <li class="footer__item">
          <a
            href="https://www.facebook.com/people/Coding-Magic/"
            class="footer__link"
            >Facebook: CodingMagic</a
          >
        </li>
        <li class="footer__item">
          <a href="https://x.com/i/flow/single_sign_on" class="footer__link"
            >Twitter: CodingMagic</a
          >
        </li>
        <li class="footer__item">
          <a href="https://www.instagram.com/magiccode/" class="footer__link"
            >Instagram: CodingMagic</a
          >
        </li>
      </ul>
    </div>
    <form action="" class="footer__form">
      <input
        class="footer__input"
        type="text"
        placeholder="Ваша ел. адреса..."
      />
      <button class="footer__btn" id="openModalBtn">Підписатись</button>

      <h5 class="footer__text">
        *Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті
      </h5>
    </form>
  </section>
</div>
