<section class="google-dino" id="game">
  <div class="container">
    <h2 class="google-dino__title">Google динозавр</h2>
    <div class="google-dino__block">
      <img
        class="google-dino__dino"
        src="./images/google-dino/dino.png"
        alt="dino"
      />
      <img
        class="google-dino__cactus"
        src="./images/google-dino/cactus.png"
        alt="cactus"
      />
      <img
        class="google-dino__ground"
        src="./images/google-dino/ground.png"
        alt="ground"
      />
    </div>
    <hr class="google-dino__hr" />
  </div>
</section>
