<header class="header">
  <div class="container">
    <div class="header__main">
      <img src="./images/header/logo.svg" alt="logo">
      <ul class="header__list">
        <li class="header__items">
          <a href="#" class="header__navigation">Інтерактив</a>
          <ul class="header__submenu">
            <li class="header__subitems">Числовий</li>
            <li class="header__subitems">Ігровий</li>
            <li class="header__subitems3">Ознайомчий</li>
          </ul>
        </li>
        
        <li class="header__items">Наша команда</li>
        <li class="header__items">Контакти</li>
      </ul>
      
      <div class="header__theme">
        <label class="switch">
          <input type="checkbox">
          <span class="slider round"></span>
        </label>

        <p class="header__greeting">Вітаємо, User!</p>
      </div>
      </div>
      
       
      
    </div>
  </div>
</header>
<!-- add header -->