<header class="header">
  <div class="container">
    <div class="header__logos">
      <img src="./images/slash.svg" alt="code_slash" />
      <div class="header_combine">
        <p class="header__coding">Coding</p>
        <p class="header__magic">Magic</p>
      </div>
    </div>
    <div class="header__menu">
      <ul class="header__list">
        <li class="header__items">Інтерактив</li>
        <li class="header__items">Наша команда</li>
        <li class="header__items">Контакти</li>
      </ul>
    </div>
  </div>
</header>
