<div class="header-modal">
    <div class="container">
      <div id="myModal" class="modal header__modal">
        <div class="header-modal__content">
          <span class="header-modal__close">&times;</span>
          <h2 class="header-modal__titel">
            Привіт! <br />
            Ви потрапили на сайт інтерактивних ігор та завдань <br>Надіємось, що вам
            сподобається і ви отримаєте позитивні емоції! <br />Бажаємо Вам гарно
            провести час!
          </h2>
          <form class="header-modal__form">
            <label class="header-modal__label">Введіть своє ім’я:</label>
            <input
              type="text"
              class="header-modal__input"
              placeholder="Ваше ім’я..."
            />
            <button class="header-modal__btn">Зберегти</button>
          </form>
        </div>
      </div>
    </div>
  </div>