<section class="scientists acquaintance">
  <div class="container">
    <h2 class="scientists__title">Обери вченого/их</h2>
    <li class="scientists__list">
      <div class="scientists__item">
        <h2 class="scientists__name">
          Albert Einshtein <br />
          1879-1955
        </h2>
      </div>
      <div class="scientists__item">
        <h2 class="scientists__name">
          Isaac Newton <br />
          1643-1727
        </h2>
      </div>
      <div class="scientists__item">
        <h2 class="scientists__name">
          Galileo Galilei <br />
          1564-1642
        </h2>
      </div>
      <div class="scientists__item">
        <h2 class="scientists__name">
          Marie Curie <br />
          1867-1934
        </h2>
      </div>
      <div class="scientists__item">
        <h2 class="scientists__name">
          Johannes Kepler <br />
          1571-1630
        </h2>
      </div>
      <div class="scientists__item">
        <h2 class="scientists__name">
          Nicolaus Copernicus <br />
          1473-1543
        </h2>
      </div>
      <div class="scientists__item">
        <h2 class="scientists__name">
          Max Planck <br />
          1858-1947
        </h2>
      </div>
      <div class="scientists__item">
        <h2 class="scientists__name">
          Katherine Blodgett <br />
          1898-1979
        </h2>
      </div>
      <div class="scientists__item">
        <h2 class="scientists__name">
          Ada Lovelace <br />
          1815-1852
        </h2>
      </div>
      <div class="scientists__item">
        <h2 class="scientists__name">
          Sarah E Goode <br />
          1855-1905
        </h2>
      </div>
      <div class="scientists__item">
        <h2 class="scientists__name">
          Lise Meitner <br />
          1878-1968
        </h2>
      </div>
      <div class="scientists__item">
        <h2 class="scientists__name">
          Hanna Einshtein <br />
          1829-1909
        </h2>
      </div>
    </li>
    <li class="scientists__buttons">
      <button class="scientists__button">Які вчені народилися в 19 ст.</button>
      <button class="scientists__button">
        Відсортувати вчених за алфавітом
      </button>
      <button class="scientists__button">
        Відсортувати вчених за кількістю прожитих років
      </button>
      <button class="scientists__button">
        Знайти рік народження Albert Einstein
      </button>
      <button class="scientists__button">
        Знайти вчених, прізвища яких починаються на на літеру “C”
      </button>
      <button class="scientists__button">
        Видалити всіх вчених, ім’я яких починається на“А”
      </button>
      <button class="scientists__button">
        Знайти вченого, який народився найпізніше
      </button>
      <button class="scientists__button">
        Знайти вченого, який прожив найдовше і вченого який прожив найменше
      </button>
      <button class="scientists__button">
        Знайти вчених, в яких співпадають перші літери імені і прізвища
      </button>
    </li>
  </div>
</section>
