<section class="scientists">
  <div class="container">
    <h2 class="scientists_title">Обери вченого/их</h2>
    <div class="scientists_list">
      <div class="scientists_item"></div>
      <div class="scientists_item"></div>
      <div class="scientists_item"></div>
      <div class="scientists_item"></div>
      <div class="scientists_item"></div>
      <div class="scientists_item"></div>
      <div class="scientists_item"></div>
      <div class="scientists_item"></div>
      <div class="scientists_item"></div>
      <div class="scientists_item"></div>
      <div class="scientists_item"></div>
      <div class="scientists_item"></div>
    </div>
    <div class="scientists_buttons">
      <button class="scientists_button">Які вчені народилися в 19 ст.</button>
      <button class="scientists_button">
        Відсортувати вчених за алфавітом
      </button>
      <button class="scientists_button">
        Відсортувати вчених за кількістю прожитих років
      </button>
      <button class="scientists_button">
        Знайти рік народження Albert Einstein
      </button>
      <button class="scientists_button">
        Знайти вчених, прізвища яких починаються на на літеру “C”
      </button>
      <button class="scientists_button">
        Видалити всіх вчених, ім’я яких починається на “А”
      </button>
      <button class="scientists_button">
        Знайти вченого, який народився найпізніше
      </button>
      <button class="scientists_button">
        Знайти вченого, який прожив найдовше і вченого, який прожив найменше
      </button>
      <button class="scientists_button">
        Знайти вчених, в яких співпадають перші літери імені і прізвища
      </button>
    </div>
  </div>
</section>
