<section class="team">
  <div class="container">
    <h2 class="team__title">Наша команда</h2>
    <div class="team__wrapper">
      <div class="team__container">
        <button class="team__prevBtn">
          <img src="./images/team/prevBtn.png" alt="arrow" />
        </button>
        <ul class="team__list" id="slider">
          <li class="team__item">
            <img src="./images/team.png" alt="rectangle" class="team__img" />
            <h3 class="team__mem-name">Катерина Жувак</h3>
            <p class="team__item-descr">
              Інформація про роботу, яку він/вона виконав/ла
            </p>
          </li>
          <li class="team__item">
            <img src="./images/team.png" alt="rectangle" class="team__img" />
            <h3 class="team__mem-name">Олесандра Хмарук</h3>
            <p class="team__item-descr">
              Інформація про роботу, яку він/вона виконав/ла
            </p>
          </li>
          <li class="team__item">
            <img src="./images/team.png" alt="rectangle" class="team__img" />
            <h3 class="team__mem-name">Георгій Смородянский</h3>
            <p class="team__item-descr">
              Інформація про роботу, яку він/вона виконав/ла
            </p>
          </li>
          <li class="team__item">
            <img src="./images/team.png" alt="rectangle" class="team__img" />
            <h3 class="team__mem-name">Соня Школенко</h3>
            <p class="team__item-descr">
              Інформація про роботу, яку він/вона виконав/ла
            </p>
          </li>
          <li class="team__item">
            <img src="./images/team.png" alt="rectangle" class="team__img" />
            <h3 class="team__mem-name">Назарій Мовчанов</h3>
            <p class="team__item-descr">
              Інформація про роботу, яку він/вона виконав/ла
            </p>
          </li>
          <li class="team__item">
            <img src="./images/team.png" alt="rectangle" class="team__img" />
            <h3 class="team__mem-name">Андрій Лоскучеревий</h3>
            <p class="team__item-descr">
              Інформація про роботу, яку він/вона виконав/ла
            </p>
          </li>
        </ul>
        <button class="team__nextBtn">
          <img src="./images/team/nextBtn.png" alt="arrow" />
        </button>
      </div>
    </div>

  </div>

    </div>
    <div class="dots">
        <span class="dot active"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div> 

</section>
