<section class="time numerical">
    <div class="container">
        <h3 class="time__title">Калькулятор часу</h3>
    <div class="time__wrapper">
<div class="time__input-container">
    <input
    type="number"
    class="time__input"
    placeholder="Введіть число"
  />
  <btn class="time__btn search-btn"><img src="./images/search.svg" alt="search"></btn>
</div>
      <p class="time__p">-----------</p>
      <p class="time__result">0 дн. 0год:0хв</p>
    </div>
    </div>
    <hr class="year__hr">
</section>  